@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");


.search-content{
    padding: 0 7px;
    margin-top:100px;
    display:flex;
    flex-wrap: wrap;
    width:auto;
}