.vjs-loading-spinner {
  border: none;
  opacity: 0;
  visibility: hidden;
  animation: vjs-spinner-fade-out 2s linear 1;
  animation-delay: 2s;
  &:before,
  &:after {
    border: none;
  }
  &:after {
    background-image: url(https://assets.nflxext.com/en_us/pages/wiplayer/site-spinner.png);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
  }
}

.vjs-seeking .vjs-loading-spinner:after,
.vjs-waiting .vjs-loading-spinner:after {
  animation: vjs-spinner-spin 1.1s linear infinite, vjs-spinner-fade 1.1s linear 1 !important;
  animation-delay: 2s;
}

.vjs-seeking .vjs-loading-spinner,
.vjs-waiting .vjs-loading-spinner {
  opacity: 1;
  visibility: visible;
  animation: vjs-spinner-fade-in 2s linear 1;
  animation-delay: 2s;
}

@keyframes vjs-spinner-fade-in {
  0% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes vjs-spinner-fade-out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: visible;
  }
}