@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");

.row-title{
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: "Noto Sans JP", sans-serif;
  margin: 0 30px;
  letter-spacing: 8px;
}

.row-posters {
  padding-top: 30px;
  padding-bottom: 100px;
  display: flex;
  overflow-x: scroll;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.row-posters::-webkit-scrollbar {
  display: none;
}


@media screen and (max-width:500px) {
  .row-title {
    font-size: 25px;
  }
}

@media screen and (max-width:420px) {
  .row-title {
    margin: 0 20px;
    font-size: 23px;
  }
}